@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.signUp-page-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp-form {
  width: 40%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.account-heading {
  margin-bottom: 10px;
}
.account-heading > h2 {
  text-align: center;
  font-weight: 450;
  font-size: 30px;
  margin-bottom: 5px;
}
.account-heading > p {
  font-size: 13px;
  text-align: center;
  opacity: 0.7;
}
.input-box > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-box > div > label {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.input-box > div > span {
  font-size: 13px;
  opacity: 0.6;
}
.input-box > input {
  width: 100%;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #fbfcfe;
  transition: all 0.3s ease;
}
.input-box > input:hover {
  border: 2px solid rgba(64, 157, 169, 0.8);
}
.input-box > input:focus-within {
  border: 2px solid rgb(91, 91, 247);
  box-shadow: rgba(91, 91, 247, 0.6) 0px 1px 2px 0px;
}
.input-box > input::placeholder {
  opacity: 0.7;
}
.btn-container {
  margin-top: 15px;
}
#signup_btn {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 550;
  border-radius: 8px;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.35);
  background-color: black;
}
.btn-container > div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  margin-top: 10px;
}
.btn-container > div > input {
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  background-color: black;
}
#term_condition {
  font-size: 14px;
  padding-left: 10px;
  text-align: center;
}

/* Error messages style */
.email-error,
.pass-error,
.num-error,
.fname-error,
.lname-error{
  font-size: 10px;
  color: red;
}