@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
      font-family: "Poppins", sans-serif;
}
main{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    display: flex;
}

/* sidebar */
.sidebar{
    width: 28%;
    padding-right: 55px;
    display: flex;
    flex-direction: column;
}
.sidebar>h1{
    margin-bottom: 10px;
}
.box{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    cursor: pointer;
}
.box:focus-within{
    background-color: #f7f7f7;
}
.box>a,
.box>div:nth-child(1)>a,
.box-list>a{
    font-size: 16px;
    color: black;
    font-weight: 450;
}
.box-list{
    display: none;
}
.box>div:nth-child(2)>span{
    font-size: 24px;
    font-weight: 500;
}

.right-part{
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* order overview */
.order-summary{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #f7f7f7;
}
.order-summary>h1{
    font-size: 24px;
    font-weight: 550;
}
.view-orders{
    display: flex;
    gap: 15px;
}
.view-orders>h3{
    font-size: 18px;
    font-weight: 500;
    border-bottom: 4px solid transparent;
}
.view-orders>h3:nth-child(1):focus-within{
    border-bottom: 4px solid black;
}
.view-orders>h3:nth-child(3):focus-within{
    border-bottom: 4px solid black;
}
.view-orders>span{
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.order-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.order-description>p{
    font-size: 14px;
}
.order-description>p>a{
    text-decoration: underline;
    color: black;
}

/* recently view product */
.recently-view-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.recently-view-products>h3{
    font-size: 18px;
    font-weight: 550;
}
.recently-view-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.recently-view-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-img{
    position: relative;
}
.item-img>a>img{
    width: 100%;
}
.add-btn{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    opacity: 0;
}
.item-img:hover .add-btn{
    color: #fff;
    opacity: 1;
    background-color: black;
}
.caption>p:nth-child(1){
    font-size: 12px;
}
.caption>p:nth-child(2){
    font-size: 16px;
    font-weight: 500;
}