@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-text: #343434;
  --secondry-text: #494744;
  --bg: #ffffff;
  --border: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  width: 100%;
  max-height: 100vh;
  background-color: var(--bg);
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
/* scrool button start */
.scroll_btn {
  position: fixed;
  top: 80%;
  left: 95%;
  padding: 13px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 999;
}
.fa-arrow-up{
  font-size: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.scroll_btn>p{
  display: none;
}
/* .scroll_btn>p:hover{
  display: block;
} */
.showScrollBtn {
  opacity: 1;
  pointer-events: auto;
  transition: background-color 0.4s ease;
}
/* .showScrollBtn:hover {
  background-color: #ffcc25;
} */
/* scroll button end */
header {
  width: 100%;
  max-height: 300px;
}
/* Header top start */
.header-top {
  width: 100%;
  border-bottom: 1px solid var(--border);
}
.header-top ul {
  width: 530px;
  padding: 5px 5px 10px 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-top ul > li {
  position: relative;
}
.header-top ul > li > a {
  color: var(--secondry-text);
  font-size: 14px;
}
.header-top > ul li:first-child > a {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 17px;
}
.header-top > ul > li:nth-child(2) > a {
  font-weight: 650;
  color: #696969;
}
.header-top > ul > li:nth-child(3) > a {
  padding: 0px 3px;
  font-weight: 500;
  color: #6c6c6c;
  border: 2px solid #909090;
}
.header-top > ul > li:nth-child(4) > a {
  font-weight: 500;
  color: #6c6c6c;
  font-size: 14px;
}
.header-top > ul > li:nth-child(4) > a > span {
  height: 7px;
  margin-right: 3px;
  border: 1px solid rgb(199, 173, 173);
}
.header-top > ul:last-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top > ul:last-child > a > img {
  width: 22px;
}
.header-top > ul > li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background-color: black;
  transition: all 0.6s ease;
}
.header-top > ul > li:hover::before {
  width: 100%;
}
/* Header top end */

/* Search bar start */
.search-bar {
  width: 100%;
  height: 100px;
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.search {
  width: 380px;
  display: flex;
  align-items: center;
  border: 2px solid var(--border);
}
.search:focus-within {
  border: 2px solid #636363;
}
.search > input {
  width: 87%;
  padding: 10px;
  width: 330px;
  font-size: 16px;
  border: none;
}
.search > input:focus {
  outline: none;
}
.search i {
  width: 13%;
  padding: 12px;
  cursor: pointer;
}
.search .fa-magnifying-glass {
  font-size: 22px;
  opacity: 0.5;
}
.logo {
  text-align: center;
}
.logo > p {
  color: var(--primary-text);
  font-size: 48px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fa-user,
.fa-location-dot,
.fa-heart,
.fa-cart-shopping {
  font-size: 20px;
  color: #000001;
  cursor: pointer;
}
.sign-in > p {
  font-size: 14px;
}
.sign-in > p > a {
  color: var(--secondry-text);
  cursor: pointer;
}
.sign-in > p > a:hover {
  text-decoration: underline;
}
.icons-container > li {
  position: relative;
  cursor: pointer;
}
.sign-in > li {
  position: relative;
}
.icons-container > li::after,
.sign-in > li::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  height: 4px;
  width: 0%;
  height: 4px;
  background-color: black;
  transform: translateX(-50%);
  transition: all 0.6s ease;
}
.icons-container > li:hover::after,
.sign-in > li:hover::after {
  width: 95%;
}
.sign-in,
.location,
.heart,
.shopping-cart {
  position: relative;
}
.sign-in-popUp,
.location-popUp,
.heart-popUp,
.shopping-popUp {
  position: absolute;
  top: 35px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
}
.sign-in:hover .sign-in-popUp,
.location:hover .location-popUp,
.heart:hover .heart-popUp,
.shopping-cart:hover .shopping-popUp {
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: translateY(0);
}
.sign-in-popUp {
  left: 55px;
  padding: 30px 25px;
  gap: 10px;
}
.sign-in-popUp > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sign-in-popUp > div > a,
.location-popUp > div > a {
  font-size: 14px;
  color: var(--secondry-text);
}
.sign-in-popUp > div > a:hover,
.location-popUp > div > a:hover {
  text-decoration: underline;
}
.location-popUp {
  right: -190px;
  padding: 30px 25px;
  gap: 10px;
}
.location-popUp > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.heart-popUp {
  top: 35px;
  right: -110px;
  padding: 30px 30px;
  gap: 20px;
}
.heart-popUp > h5 {
  font-weight: 550;
  font-size: 14px;
}
.heart-popUp > ol {
  padding-left: 30px;
}
.heart-popUp > ol > li {
  list-style-type: decimal;
  font-size: 14px;
  margin-bottom: 5px;
}
.heart-popUp > ol > li::marker {
  font-weight: bold;
}
.heart-popUp > ol > li > span {
  font-weight: bold;
}
.heart-popUp > img {
  width: 200px;
}
.heart-popUp > p,
.shopping-popUp > p {
  font-size: 13px;
}
.heart-popUp > p > a,
.shopping-popUp > p > a {
  color: var(--primary-text);
  text-decoration: underline;
}
.heart-popUp > button,
.shopping-popUp > button {
  padding: 10px;
  font-weight: 500;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.shopping-popUp {
  top: 35px;
  right: -30px;
  padding: 20px 25px;
  gap: 20px;
}
/* Search bar end */

/* Header bottom start */

.header-bottom {
  padding: 15px 60px;
}
.header-bottom > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}
.header-bottom > ul > li > a {
  position: relative;
  color: var(--secondry-text);
  opacity: 0.9;
}
.header-bottom > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  background-color: black;
  transition: all 0.6s ease;
}
.header-bottom > ul > li > a:hover::after {
  width: 100%;
}

/* header bottom popups start */

.header-bottom > ul {
  width: 100%;
  position: relative;
}
.new-popup,
.wedding-registry-popup {
  position: absolute;
  top: 40px;
  width: 100%;
  right: 10px;
  padding: 35px 40px 20px 40px;
  display: flex;
  background-color: var(--bg);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  overflow: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.new-popup {
  justify-content: center;
  gap: 60px;
}
.wedding-registry-popup {
  gap: 40px;
}
.new:hover .new-popup,
.new-popup:hover,
.wedding-registry:hover .wedding-registry-popup,
.wedding-registry-popup:hover {
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: translateY(0);
}
.top-category > h3,
.trending > h3,
.collabs > h3,
.wedding > h3,
.tips > h3,
.wedding-top-categories > h3,
.wedding-top-brand > h3 {
  font-weight: 550;
  margin-bottom: 20px;
  text-decoration: underline;
}
.top-category > ul > li,
.trending > ul > li,
.collabs > ul > li,
.wedding > ul > li,
.tips > ul > li,
.wedding-top-categories > ul > li,
.wedding-top-brand > ul > li {
  margin-bottom: 7px;
}
.top-category > ul > li > a,
.trending > ul > li > a,
.collabs > ul > li > a,
.wedding > ul > li > a,
.tips > ul > li > a,
.wedding-top-categories > ul > li > a,
.wedding-top-brand > ul > li > a {
  color: var(--secondry-text);
}
.new-img > figure > figcaption,
.wedding-img > figure > figcaption {
  font-weight: 550;
  margin-top: 10px;
}
.wedding-img > figure > img {
  width: 380px;
}

/* header bottom popups end */

/* Header bottom end */

/* navbar start */

.navbar {
  padding: 10px;
  background-color: black;
}
.navbar > ul {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar > ul > li > a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.navbar > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--bg);
  width: 0%;
  transition: all 0.6s ease;
}
.navbar > ul > li > a:hover:after {
  width: 100%;
}
/* navbar popup start */
.navbar > ul {
  width: 100%;
  position: relative;
}
.furniture-popup,
.outdoor-popup,
.tabletop-popup,
.kitchen-popup,
.bedding-popup,
.bath-popup,
.window-popup,
.lighting-popup,
.gifts-popup,
.decor-popup,
.rugs-popup,
.sale-popup {
  max-height: 600px;
  width: 97%;
  position: absolute;
  top: 34px;
  right: 15px;
  padding: 50px 35px 20px 35px;
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: var(--bg);
  overflow-y: auto;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.outdoor-popup {
  gap: 0px !important;
  justify-content: space-between;
}
.tabletop-popup,
.furniture-popup {
  gap: 65px;
}
.bedding-popup {
  justify-content: center;
}

.furniture:hover .furniture-popup,
.furniture-popup:hover,
.outdoor:hover .outdoor-popup,
.outdoor-popup:hover,
.tabletop:hover .tabletop-popup,
.tabletop-popup:hover,
.kitchen:hover .kitchen-popup,
.kitchen-popup:hover,
.bedding:hover .bedding-popup,
.bedding-popup:hover,
.bath:hover .bath-popup,
.bath-popup:hover,
.window:hover .window-popup,
.window-popup:hover,
.lighting:hover .lighting-popup,
.lighting-popup:hover,
.gifts:hover .gifts-popup,
.gifts-popup:hover,
.decor:hover .decor-popup,
.decor-popup:hover,
.rugs:hover .rugs-popup,
.rugs-popup:hover,
.sale:hover .sale-popup,
.sale-popup:hover {
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: translateY(0);
}

.furniture-popup h3,
.outdoor-popup h3,
.tabletop-popup h3,
.kitchen-popup h3,
.bedding-popup h3,
.bath-popup h3,
.window-popup h3,
.lighting-popup h3,
.gifts-popup h3,
.decor-popup h3,
.rugs-popup h3,
.sale-popup h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.furniture-popup h3:hover,
.outdoor-popup h3:hover,
.tabletop-popup h3:hover,
.kitchen-popup h3:hover,
.bedding-popup h3:hover,
.bath-popup h3:hover,
.window-popup h3:hover,
.lighting-popup h3:hover,
.gifts-popup h3:hover,
.decor-popup h3:hover,
.rugs-popup h3:hover,
.sale-popup h3:hover {
  text-decoration: underline;
}

.furniture-popup ul li,
.outdoor-popup ul li,
.tabletop-popup ul li,
.kitchen-popup ul li,
.bedding-popup ul li,
.bath-popup ul li,
.window-popup ul li,
.lighting-popup ul li,
.gifts-popup ul li,
.decor-popup ul li,
.rugs-popup ul li,
.sale-popup ul li {
  margin-bottom: 7px;
}

.furniture-popup ul li a,
.outdoor-popup ul li a,
.tabletop-popup ul li a,
.kitchen-popup ul li a,
.bedding-popup ul li a,
.bath-popup ul li a,
.window-popup ul li a,
.lighting-popup ul li a,
.gifts-popup ul li a,
.decor-popup ul li a,
.rugs-popup ul li a,
.sale-popup ul li a {
  color: var(--secondry-text);
  font-size: 14px;
}

.furniture-popup ul li a:hover,
.outdoor-popup ul li a:hover,
.tabletop-popup ul li a:hover,
.kitchen-popup ul li a:hover,
.bedding-popup ul li a:hover,
.bath-popup ul li a:hover,
.window-popup ul li a:hover,
.lighting-popup ul li a:hover,
.gifts-popup ul li a:hover,
.decor-popup ul li a:hover,
.rugs-popup ul li a:hover,
.sale-popup ul li a:hover {
  text-decoration: underline;
}
.img-furniture > figure > a > img,
.outdoor-img > figure > a > img,
.tabletop-img > figure > a > img,
.kitchen-img > figure > a > img,
.bedding-img > figure > a > img,
.bath-img > figure > a > img,
.window-img > figure > a > img,
.lighting-img > figure > a > img,
.gifts-img > figure > a > img,
.decor-img > figure > a > img,
.rugs-img > figure > a > img,
.sale-img > figure > a > img {
  height: 350px;
  width: 260px;
}
.img-furniture > figure > figcaption,
.outdoor-img > figure > figcaption,
.tabletop-img > figure > figcaption,
.kitchen-img > figure > figcaption,
.bedding-img > figure > figcaption,
.bath-img > figure > figcaption,
.window-img > figure > figcaption,
.lighting-img > figure > figcaption,
.gifts-img > figure > figcaption,
.decor-img > figure > figcaption,
.rugs-img > figure > figcaption,
.sale-img > figure > figcaption {
  font-size: 14px;
  font-weight: 550;
  margin-top: 10px;
  cursor: pointer;
}
.outdoor-img > figure > figcaption {
  margin-bottom: 15px;
}
.img-furniture > figure > figcaption:hover {
  text-decoration: underline;
}
/* navbar popup end */
/* navbar end */

/* main start */

main {
  width: 100%;
}

/* banner start */
.banner {
  width: 100%;
  padding: 6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #694642;
}
.msg-wrap > a {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 550;
}
.line {
  height: 25px;
  width: 2px;
  background-color: #fff;
}
.arrow,
.small-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #ffffff;
}
.small-arrow {
  border-left: 7px solid black;
}
/* banner end */

/* full img start */
.full-img {
  position: relative;
  width: 100%;
}
.full-img > img {
  width: 100%;
  z-index: -1;
  cursor: pointer;
}
.full-img > .img_btns_container {
  position: absolute;
  right: 40px;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  z-index: 8;
}
.full-img > .img_btns_container > a {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  margin-bottom: 5px;
}
.full-img > .img_btns_container > button {
  width: 270px;
  padding: 10px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 550;
  border: none;
  cursor: pointer;
}
.img-btn {
  position: absolute;
  bottom: 40px;
  left: 40px;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #fff;
}
.fa-tag {
  transform: rotate(90deg);
  font-size: 18px;
}
.img-btn > button {
  background-color: transparent;
  border: none;
  font-size: 17px;
  font-weight: 500;
}
.img-monterey {
  position: absolute;
  right: 230px;
  bottom: 60px;
}
.img-monterey > h3 {
  color: #fff;
  font-weight: 550;
  margin-bottom: 5px;
}
.img-monterey > p {
  width: 220px;
  padding-left: 5px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.img-monterey > p > a {
  color: #fff;
}
/* full img end */

/* new arrival start */
.new-arrivals-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}
.arrivals-head {
  height: 100px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrivals-head::before {
  content: "";
  width: 100px;
}

.arrivals-head > h1 {
  text-align: center;
  flex: 1;
  font-size: 36px;
  font-weight: 550;
}
.arrivals-head > button {
  position: relative;
  overflow: hidden;
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

.arrivals-head > button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.arrivals-head > button:hover {
  color: white;
}

.arrivals-head > button:hover::before {
  animation: fillLeftRight 0.5s forwards ease-in-out;
}

@keyframes fillLeftRight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.arrival-arrow {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.arrival-arrow > .fa-angle-left,
.arrival-arrow > .fa-angle-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 550;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.arrivals-imgs-container {
  display: flex;
  gap: 15px;
  overflow: hidden;
  transition: all 0.6s ease;
}
.arrival-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.arrival-items > img {
  transition: all 0.3s ease;
}
.arrival-items > img:hover {
  transform: scale(1.02);
}
.arrival-items > h3 {
  font-weight: 550;
  font-size: 18px;
}
.arrival-items > p {
  font-size: 18px;
}
/* new arrival end */

/* img video start */
.img-video {
  width: 100%;
  position: relative;
}
.video {
  z-index: 1;
  cursor: pointer;
}
.videos-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.videos-btn > h1 {
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}
.videos-btn > button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
}
.video-play {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
}
.video-play > div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.fa-play {
  font-size: 18px;
  display: none;
}
.fa-pause {
  font-size: 18px;
}
/* img video end */

/* smeg-mocha start */
.smeg-mocha {
  width: 100%;
  padding: 35px;
  position: relative;
}
.smeg-mocha > img {
  width: 100%;
}
.smeg-mocha-heading {
  position: absolute;
  top: 70px;
  left: 95px;
  line-height: 1;
  color: white;
}
.smeg-mocha-heading > h1 {
  font-size: 38px;
  font-weight: 600;
}
.smeg-mocha-heading > button {
  margin-top: 20px;
  padding: 10px 35px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.smeg-mocha-heading > button:hover {
  color: black;
  background-color: #fff;
}
.new-exclusive {
  width: 190px;
  position: absolute;
  left: 50%;
  top: 150px;
  text-align: center;
  transform: translateY(-50%);
  color: white;
}
.new-exclusive > h3 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}
.new-exclusive > p {
  font-size: 17px;
}
/* smeg-mocha end */

/* hero-card part start */
.hero-card-container {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-card-head {
  font-size: 25px;
  font-weight: 450;
  color: #202020;
  text-align: center;
  margin-bottom: 20px;
}
.hero-card-content {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
.heroCard-items {
  width: 100%;
}
.heroCard-items > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.heroCard-items > div > img {
  width: 400px;
}
/* hero-card part start */

/* get together start */
.get-together {
  width: 100%;
  position: relative;
  padding-bottom: 30px;
}
.get-together > a > img {
  width: 100%;
}
.together-up-content {
  position: absolute;
  top: 60px;
  left: 24%;
  cursor: pointer;
}
.together-up-content > h1 {
  font-size: 34px;
  padding-left: 20px;
}
.together-up-content > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.together-up-content > div > button {
  margin-top: 10px;
  background-color: transparent;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 50px;
  font-weight: 550;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.5s ease;
}
.together-up-content > div > button:hover {
  background-color: black;
  color: white;
}
.together-bottom-content {
  position: absolute;
  bottom: 100px;
  right: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.together-bottom-content > a > img {
  height: 40px;
}
.together-bottom-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.together-bottom-content > div p:nth-child(1) {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 5px;
}
.together-bottom-content > div p:nth-child(2) {
  width: 250px;
  font-size: 18px;
  text-align: center;
}
/* get together end */

/* hosting section start */
.hosting-container {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hosting-arrow {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.hosting-arrow > .fa-angle-left,
.hosting-arrow > .fa-angle-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 550;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.hosting-heading > p {
  font-size: 40px;
  font-weight: 550;
}
.hosting-content {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
/* hosting section end */

/* caraway section start */
.caraway-container {
  position: relative;
  width: 100%;
}
.caraway-container > a > img {
  width: 100%;
}
.caraway-container > div:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}
.caraway-container > div > p {
  font-weight: 550;
}
.caraway-container > div:nth-child(3) {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  cursor: pointer;
}
.caraway-container > div:nth-child(3) > p {
  font-size: 36px;
  line-height: 1.2;
  text-align: right;
}
.caraway-container > div:nth-child(3) > button {
  padding: 7px 25px;
  font-size: 20px;
  font-weight: 550;
  border-radius: 20px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}
.caraway-container > div:nth-child(3) > button:hover {
  color: white;
  background-color: black;
}
.caraway-container > div:nth-child(4) {
  position: absolute;
  bottom: 9%;
  left: 12%;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caraway-container > div:nth-child(4) > p:nth-child(1) {
  font-weight: 600;
  font-size: 19px;
}
.caraway-container > div:nth-child(4) > p:nth-child(2) {
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  color: #242420;
  opacity: 0.8;
}
/* caraway section end */

/* KitchenAid & Breville section start */
.kitchenAid-breville{
  width: 100%;
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.kitchenAid-breville>div>img{
  width: 100%;
}
.kitchenAid-breville>div:nth-child(1),
.kitchenAid-breville>div:nth-child(2){
  position: relative;
}
.kitchenAid-breville>div:nth-child(1)>div,
.kitchenAid-breville>div:nth-child(2)>div{
  position: absolute;
  top: 20px;
  left: 40px;
  color: white;
}
.kitchenAid-breville>div:nth-child(1)>div>h1,
.kitchenAid-breville>div:nth-child(2)>div>h1{
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.kitchenAid-breville>div:nth-child(1)>div>button,
.kitchenAid-breville>div:nth-child(2)>div>button{
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 550;
  border-radius: 30px;
}
.kitchenAid-breville>div:nth-child(2)>div:nth-child(3){
  position: absolute;
  top: 55%;
  left: 20px;
  width: 150px;
  text-align: right;
  font-size: 17px;
}
/* KitchenAid & Breville section end */

/* main end */