@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-text: #343434;
  --secondry-text: #494744;
  --bg: #ffffff;
  --border: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  max-height: 100vh;
  background-color: var(--bg);
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
header {
  width: 100%;
  max-height: 300px;
}
/* Header top start */
.header-top {
  width: 100%;
  border-bottom: 1px solid var(--border);
}
.header-top ul {
  width: 530px;
  padding: 5px 5px 10px 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-top ul > li {
  position: relative;
}
.header-top ul > li > a {
  color: var(--secondry-text);
  font-size: 14px;
}
.header-top > ul li:first-child > a {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 17px;
}
.header-top > ul > li:nth-child(2) > a {
  font-weight: 650;
  color: #696969;
}
.header-top > ul > li:nth-child(3) > a {
  padding: 0px 3px;
  font-weight: 500;
  color: #6c6c6c;
  border: 2px solid #909090;
}
.header-top > ul > li:nth-child(4) > a {
  font-weight: 500;
  color: #6c6c6c;
  font-size: 14px;
}
.header-top > ul > li:nth-child(4) > a > span {
  height: 7px;
  margin-right: 3px;
  border: 1px solid rgb(199, 173, 173);
}
.header-top > ul:last-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top > ul:last-child > a > img {
  width: 22px;
}
.header-top > ul > li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background-color: black;
  transition: all 0.6s ease;
}
.header-top > ul > li:hover::before {
  width: 100%;
}
/* Header top end */

/* Search bar start */
.search-bar {
  width: 100%;
  height: 100px;
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.search {
  width: 380px;
  display: flex;
  align-items: center;
  border: 2px solid var(--border);
}
.search:focus-within {
  border: 2px solid #636363;
}
.search > input {
  width: 87%;
  padding: 10px;
  width: 330px;
  font-size: 16px;
  border: none;
}
.search > input:focus {
  outline: none;
}
.search i {
  width: 13%;
  padding: 12px;
  cursor: pointer;
}
.search .fa-magnifying-glass {
  font-size: 22px;
  opacity: 0.5;
}
.logo {
  text-align: center;
}
.logo > p {
  color: var(--primary-text);
  font-size: 48px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fa-user,
.fa-location-dot,
.fa-heart,
.fa-cart-shopping {
  font-size: 20px;
  color: #000001;
  cursor: pointer;
}
.sign-in > p {
  font-size: 14px;
}
.sign-in > p > a {
  color: var(--secondry-text);
  cursor: pointer;
}
.sign-in > p > a:hover {
  text-decoration: underline;
}
.icons-container > li {
  position: relative;
  cursor: pointer;
}
.sign-in > li {
  position: relative;
}
.icons-container > li::after,
.sign-in > li::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  height: 4px;
  width: 0%;
  height: 4px;
  background-color: black;
  transform: translateX(-50%);
  transition: all 0.6s ease;
}
.icons-container > li:hover::after,
.sign-in > li:hover::after {
  width: 95%;
}
.sign-in,
.location,
.heart,
.shopping-cart {
  position: relative;
}
.sign-in-popUp,
.location-popUp,
.heart-popUp,
.shopping-popUp {
  position: absolute;
  top: 35px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
}
.sign-in:hover .sign-in-popUp,
.location:hover .location-popUp,
.heart:hover .heart-popUp,
.shopping-cart:hover .shopping-popUp {
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: translateY(0);
}
.sign-in-popUp {
  left: 55px;
  padding: 30px 25px;
  gap: 10px;
}
.sign-in-popUp > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sign-in-popUp > div > a,
.location-popUp > div > a {
  font-size: 14px;
  color: var(--secondry-text);
}
.sign-in-popUp > div > a:hover,
.location-popUp > div > a:hover {
  text-decoration: underline;
}
.location-popUp {
  right: -190px;
  padding: 30px 25px;
  gap: 10px;
}
.location-popUp > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.heart-popUp {
  top: 35px;
  right: -110px;
  padding: 30px 30px;
  gap: 20px;
}
.heart-popUp > h5 {
  font-weight: 550;
  font-size: 14px;
}
.heart-popUp > ol {
  padding-left: 30px;
}
.heart-popUp > ol > li {
  list-style-type: decimal;
  font-size: 14px;
  margin-bottom: 5px;
}
.heart-popUp > ol > li::marker {
  font-weight: bold;
}
.heart-popUp > ol > li > span {
  font-weight: bold;
}
.heart-popUp > img {
  width: 200px;
}
.heart-popUp > p,
.shopping-popUp > p {
  font-size: 13px;
}
.heart-popUp > p > a,
.shopping-popUp > p > a {
  color: var(--primary-text);
  text-decoration: underline;
}
.heart-popUp > button,
.shopping-popUp > button {
  padding: 10px;
  font-weight: 500;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.shopping-popUp {
  top: 35px;
  right: -30px;
  padding: 20px 25px;
  gap: 20px;
}
/* Search bar end */

/* Header bottom start */

.header-bottom{
  padding: 15px 60px;
}
.header-bottom>ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}
.header-bottom>ul>li>a{
  position: relative;
  color: var(--secondry-text);
  opacity: 0.9;
}
.header-bottom>ul>li>a::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  background-color: black;
  transition: all 0.6s ease;
}
.header-bottom>ul>li>a:hover::after{
  width: 100%;
}

/* header bottom popups start */

.header-bottom>ul{
  width: 100%;
  position: relative;
}
.new-popup,
.wedding-registry-popup{
  position: absolute;
  top: 40px;
  width: 100%;
  right: 10px;
  padding: 35px 40px 20px 40px;
  display: flex;
  background-color: var(--bg);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  overflow: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.new-popup{
  justify-content: center;
  gap: 60px;
}
.wedding-registry-popup{
  gap: 40px;
}
.new:hover .new-popup,.new-popup:hover,
.wedding-registry:hover .wedding-registry-popup, .wedding-registry-popup:hover{
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: translateY(0);
}
.top-category>h3,
.trending>h3,
.collabs>h3,
.wedding>h3,
.tips>h3,
.wedding-top-categories>h3,
.wedding-top-brand>h3{
  font-weight: 550;
  margin-bottom: 20px;
  text-decoration: underline;
}
.top-category>ul>li,
.trending>ul>li,
.collabs>ul>li,
.wedding>ul>li,
.tips>ul>li,
.wedding-top-categories>ul>li,
.wedding-top-brand>ul>li{
  margin-bottom: 7px;
}
.top-category>ul>li>a,
.trending>ul>li>a,
.collabs>ul>li>a,
.wedding>ul>li>a,
.tips>ul>li>a,
.wedding-top-categories>ul>li>a,
.wedding-top-brand>ul>li>a{
  color: var(--secondry-text);
}
.new-img>figure>figcaption,
.wedding-img>figure>figcaption{
  font-weight: 550;
  margin-top: 10px;
}
.wedding-img>figure>img{
  width: 380px;
}

/* header bottom popups end */

/* Header bottom end */

/* navbar start */

.navbar{
  padding: 10px;
  background-color: black;
}
.navbar>ul{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar>ul>li>a{
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.navbar>ul>li>a::after{
  content: "";
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--bg);
  width: 0%;
  transition: all 0.6s ease;
}
.navbar>ul>li>a:hover:after{
  width: 100%;
}
/* navbar popup start */
.navbar>ul{
  width: 100%;
  position: relative;
}
.furniture-popup,
.outdoor-popup,
.tabletop-popup{
  max-height: 600px;
  position: absolute;
  top: 34px;
  right: 60px;
  padding: 50px 35px 20px 35px;
  display: flex;
  gap: 65px;
  background-color: var(--bg);
  overflow-y: auto;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.outdoor-popup{
  width: 97%;
  gap: 0px !important;
  justify-content: space-between;
  right: 10px;
}
.furniture:hover .furniture-popup,.furniture-popup:hover,
.outdoor:hover .outdoor-popup,.outdoor-popup:hover,
.tabletop:hover .tabletop-popup,.tabletop-popup:hover{
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: translateY(0);
}
.new-furniture>h3,
.diningroom-furniture>h3,
.bedroom-furniture>h3,
.entryway-furniture>h3,
.outdoor-furniture>h3,
.outdoor-dining-furniture>h3,
.outdoor-entertaining>h3,
.outdoor-decor>h3,
.tabletop-offer>h3,
.tabletop-drinkware>h3,
.tabletop-bartools>h3,
.tabletop-flatware>h3{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}
.new-furniture>h3:hover,
.diningroom-furniture>h3:hover,
.bedroom-furniture>h3:hover,
.entryway-furniture>h3:hover,
.outdoor-furniture>h3:hover,
.outdoor-dining-furniture>h3:hover,
.outdoor-entertaining>h3:hover,
.outdoor-decor>h3:hover,
.tabletop-offer>h3:hover,
.tabletop-drinkware>h3:hover,
.tabletop-bartools>h3:hover,
.tabletop-flatware>h3:hover{
  text-decoration: underline;
}
.new-furniture>ul>li,
.diningroom-furniture>ul>li,
.bedroom-furniture>ul>li,
.entryway-furniture>ul>li,
.outdoor-furniture>ul>li,
.outdoor-dining-furniture>ul>li,
.outdoor-entertaining>ul>li,
.outdoor-decor>ul>li,
.outdoor-img>ul>li,
.tabletop-offer>ul>li,
.tabletop-drinkware>ul>li,
.tabletop-bartools>ul>li,
.tabletop-flatware>ul>li{
  margin-bottom: 7px;
}
.new-furniture>ul>li>a,
.diningroom-furniture>ul>li>a,
.bedroom-furniture>ul>li>a,
.entryway-furniture>ul>li>a,
.outdoor-furniture>ul>li>a,
.outdoor-dining-furniture>ul>li>a,
.outdoor-entertaining>ul>li>a,
.outdoor-decor>ul>li>a,
.outdoor-img>ul>li>a,
.tabletop-offer>ul>li>a,
.tabletop-drinkware>ul>li>a,
.tabletop-bartools>ul>li>a,
.tabletop-flatware>ul>li>a{
  color: var(--secondry-text);
  font-size: 14px;
}
.new-furniture>ul>li>a:hover,
.diningroom-furniture>ul>li>a:hover,
.bedroom-furniture>ul>li>a:hover,
.entryway-furniture>ul>li>a:hover,
.outdoor-furniture>ul>li>a:hover,
.outdoor-dining-furniture>ul>li>a:hover,
.outdoor-entertaining>ul>li>a:hover,
.outdoor-decor>ul>li>a:hover,
.outdoor-img>ul>li>a:hover,
.tabletop-offer>ul>li>a:hover,
.tabletop-drinkware>ul>li>a:hover,
.tabletop-bartools>ul>li>a:hover,
.tabletop-flatware>ul>li>a:hover{
  text-decoration: underline;
}
.img-furniture>figure>a>img,
.outdoor-img>figure>a>img,
.tabletop-img>figure>a>img{
  height: 350px;
  width: 260px;
}
.img-furniture>figure>figcaption,
.outdoor-img>figure>figcaption,
.tabletop-img>figure>figcaption{
  font-size: 14px;
  font-weight: 550;
  margin-top: 10px;
  cursor: pointer;
}
.outdoor-img>figure>figcaption{
  margin-bottom: 15px;
}
.img-furniture>figure>figcaption:hover{
  text-decoration: underline;
}
/* navbar popup end */
/* navbar end */
